.header
  %nav.navbar.bg-faded.navbar-toggleable-md
    .navbar-brand= link_to 'Mike Enriquez Checkin', :root
    %ul.nav.navbar-nav
      %li.nav-item
        .nav-link= link_to 'Index', checkins_path
      %li.nav-item.dropdown
        %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => '#'}
          Devs Weekly Load
        .dropdown-menu
          - User.all.each do |user|
            = link_to user.username, user, :class => 'dropdown-item'
