.project {
  display: none;
}

.card-title {
  display: flex;
}

.container-centered-elements {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-border {
  border: none !important;
}

.table-vertical > tbody > tr > td {
  vertical-align: middle;
}
