@import 'bootstrap';
// @import 'font-awesome';

body {
  font-size: 50%;
}

.feature{
  color: green;
}

.bug {
  color: red;
}

.chore {
  color: grey;
}

.table-sm {
  width: 100%;
}


.column-estimate,
.column-status,
.column-checkin-count {
  width: 5%;
}
