- if current_user
  .col-md-12
    .card

      .card-header
        %h3 Delete Checkin
      .card-block
        = form_tag :checkins, :method => :delete do
          .form-group.row
            = text_field_tag :timestamp, nil, {:placeholder => 'Timestamp from Slack', :class => 'form-control col-sm-2'}
            = submit_tag 'Delete Checkin', :class => 'btn btn-danger btn-sm col-sm-3'
